.section__room-detail .room_detail__body {
    background: #fff;
    border: 1px solid hsla(0,0%,84%,.5);
    margin: 30px 0;
    padding: 40px;
}
.section__room-detail .room_detail__body .room_price__body {
    border-top: 1px solid #887740;
    border-bottom: 1px solid #887740;
    padding: 15px 0;
    margin: 30px 0;
}

.section__room-detail .room_detail__body .room_price__body .room__name {
    display: inline-block;
    color: #374853;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    font-family: 'Playfair Display';
}

.section__room-detail .room_detail__body .room__desc {
    line-height: 1.8em;
    margin-bottom: 20px;
    font-family:'Playfair Display' ;
    color: black;
}





