.header ul{
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
}
.header .demo .item{
        margin-bottom: 60px;
    }
.header .content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.header .content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.header .demo{

}