body{
    background: url(../images/desert-oasis-wallpaper-7736336.jpg) fixed;
    background-size: 100% 100%;
    
}

.cgv{
    background: rgba(0, 0, 0, 0.45);
    color: white;

}
.cgv h1{
    color: black;
}
.cgv ul{
    list-style: none;
    font-family: 'Playfair Display';
    font-size: 15px;
}
.cgv h2{
    margin-bottom: 30px;
    font-family: -webkit-pictograph;
}
.cgv h2 a{
    text-decoration: none !important;
    color: #877740
;
    font-family: fantasy;
    font-size: 25px;
}
.cgv h2 a img{
}

@media (max-width: 370px)
{
    .cgv h2 a img{
        position: relative;
        right: 17px;
    }
}
@media (max-width: 700px){
    .cgv h2{
        display: none;
    }
}
