.contact {
  width: 100%;
  background: url(../images/56980aa778d099fc122489fd_best-pools-miami-setai-cr-courtesy.jpg);
  background-size: 100% 100%;
}
.contact h1 {
  font-weight: bold;
  font-family: 'Playfair Display';
  color: #2d2d2d;
  margin-top: 45px;
}
.contact .secondtitle {
  font-family: 'Playfair Display';
  color: black;
  margin-bottom: 0px;
  font-size: 18px;
}
.contact img {
  margin-top: 15px;
  margin-bottom: 10px;
}
.contact .header {
  width: 500px;
  height: 330px;
  background-image: linear-gradient(to right, #bba351 , #e0ded9);
  color: black;
  font-family: 'Playfair Display';
  margin-top: 70px;
  margin-bottom: 70px;
}
.contact .header h3 {
  font-family: 'Playfair Display';
  color: #115201;
  font-size: 35px;
  margin-top: 0px;
}

@media (max-width: 520px) {
  .contact .header {
    width: 410px;
    height: 420px;
  }
  .contact .form {
    width: 410px;
  }
}
@media (max-width: 430px) {
  .contact .header {
    width: 345px;
    height: 420px;
  }
  .contact .form {
    width: 345px;
  }
}
@media (max-width: 370px) {
  .contact .header {
    width: 295px;
    height: 440px;
  }
  .contact .form {
    width: 295px;
  }
}
