.contact {
  width: 100%;
  background: url(../images/56980aa778d099fc122489fd_best-pools-miami-setai-cr-courtesy.jpg);
  background-size: 100% 100%;
}
.contact h1 {
  font-weight: bold;
  font-family: 'Playfair Display';
  color: #2d2d2d;
  margin-top: 45px;
}
.contact .secondtitle {
  font-family: 'Playfair Display';
  color: black;
  margin-bottom: 0px;
  font-size: 18px;
}
.contact img {
  margin-top: 15px;
  margin-bottom: 10px;
}
.contact .header {
  width: 500px;
  height: 330px;
  background-image: linear-gradient(to right, #bba351 , #e0ded9);
  color: black;
  font-family: 'Playfair Display';
  margin-top: 20px;
}
.contact .header h3 {
  font-family: 'Playfair Display';
  color: black;
  font-size: 35px;
  margin-top: 0px;
}
.contact .form {
  width: 500px;
  height: 520px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 33px;
  margin-bottom: 60px;
  margin-top: 242px;
}
.contact .form input {
  margin-bottom: 15px;
}

.contact iframe {
  width: 100%;
  height: 300px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#feedback-page{
	text-align:center;
}

#text-feedback{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color:white;
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:30px;
}

#form-div {
	background-color:#3c3c3c;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
	margin-left: -260px;
}

.feedback-input {
	opacity:0.9;
	color:black;
	font-family: 'Playfair Display';
  font-weight:400;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #f4f4f4;
  border: 3px solid #373737;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
  box-sizing: border-box;
}

.feedback-input:focus{
	background: white;
	box-shadow: 0;
	border: 3px solid #373737;
	color: black;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#d6693c;
	border:#d6693c solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(../images/user.png);
    background-size: 30px;
    background-position: 9px 9px;
    background-repeat: no-repeat;
}
#phone{
	background-image: url(../images/phone.png);
    background-size: 30px;
    background-position: 9px 9px;
    background-repeat: no-repeat;
}

#comment{
	background-image: url(../images/subject.png);
	background-size: 30px;
	background-position: 9px 9px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(../images/message.png);
    background-size: 30px;
    background-position: 9px 9px;
    background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
	float:left;
	width: 100%;
	border: #f4f4f4 solid 4px;
	cursor:pointer;
	background-color: #bfb6aa;
	color:black;
	font-size:15px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "'Playfair Display'";
  font-weight: bold;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: black;
}
	
.submit:hover {
	color: #d6693c;
}
	
.ease {
  border-top:3px #3c3c3c solid;
	width: 0px;
	height: 50px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:#f4f4f4;
}


@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}



@media (max-width: 520px) {
  .contact .header {
    width: 410px;
  }
  .contact .form {
    width: 410px;
  }
}
@media (max-width: 430px) {
  .contact .header {
    width: 345px;
    height: 372px;
  }
  .contact .form {
    width: 345px;
  }
}

@media (max-width: 370px) {
  .contact .header {
    width: 295px;
  }
  .contact .form {
    width: 295px;
  }
}
