
.header h1,
.offres h1
{
    color: #2a2e31;
}


.header .carousel-inner > .item > img{
    width: 100%;
    height: 460px;
    border: 5px solid #929292;
}
.header h4{
    font-size: 20px;
    font-family: -webkit-body;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header h4 a{
    text-decoration: none;
    color: #877740;
}
.header p{
    font-family: 'Playfair Display';
    font-size: 17px;
    color: #13283e;
    text-align: center;
}
.offres .pdf{
    margin-bottom: 80px;
    margin-top: 20px;
}
.offres .row{
    margin-bottom: 30px;
}





/* start figure  */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
.offres figure.snip0016 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: left;
}
.offres figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.offres figure.snip0016 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.offres figure.snip0016 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}
.offres figure.snip0016 figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.offres figure.snip0016 h2,
.offres figure.snip0016 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
.offres figure.snip0016 h2 {
  font-family: 'Playfair Display';
  color: #dedede;
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.offres figure.snip0016 p {
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.offres figure.snip0016 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
  width: 116px;
  height: 36px;
  margin-top: 20px;

}
.offres figure.snip0016 img{
    border: 5px solid white;
    width: 311px;
    height: 225px;
}
.offres figure.snip0016:hover img {
  opacity: 0.3;
    border: 5px solid white;
}
.offres figure.snip0016:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.offres figure.snip0016:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.offres figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* finish figure */













