.inscription {
  background: url(../images/FIFM-Sofitel-Marrakech.jpg);
  background-size: 100% 100%;
  width: 100%;
}
.inscription .inscription-body {
  background: rgba(21, 21, 21, 0.45);
  width: 100%;
}
.inscription h1 {
  color: #ffffff;
  text-shadow: 1px -1px 0 #e4e4e491, -1px 2px 1px #000000a4, -2px 4px 1px #0000008e;
  margin-bottom: 30px;
}
.inscription h3 {
  font-family: 'Playfair Display';
  color: #f6f4f2;
  margin-top: -21px;
  margin-bottom: 45px;
  font-size: 18px;
}
.inscription .inscription-row {
  background: rgba(0, 0, 0, 0.75);
  width: 80%;
  margin-bottom: 70px;
}
.inscription .inscription-row h4 {
  font-family: none;
  color: #e6c296;
  margin-top: 30px;
  font-size: 22px;
}
.inscription .paragraphe {
  font-size: 18px;
  font-family: 'Playfair Display';
  color: white;
  margin-top: 22px;
  text-align: justify;
  padding: 17px;
}
.inscription .inscription-row .form {
  margin-top: 40px;
  margin-right: 0px;
}
.inscription .inscription-row label {
  display: inline-block;
  max-width: 100%;
  margin-top: 8px;
  font-weight: bold;
  color: white !important;
}
.inscription .inscription-row input {
  margin-bottom: 15px;
}
.inscription .inscription-row .radio {
}
.inscription .inscription-row .accept {
  margin-top: -32px;
  margin-left: -50px;
  color: white;
}
.inscription .inscription-row img {
  margin-top: 5px;
  margin-bottom: 5px;
}
.inscriptionenligne {
  margin-left: 29%;
}
.form .col-md-4{
text-align: right;
}
.form .formButton{
  margin-left: 30%;
}
@media (max-width:1000px){
  .form .col-md-4{
    text-align: center;
    }
  .form .formButton{
      margin-left: 0%;
    }
  .inscriptionenligne {
      margin-left: 0%;
    }
}
@media (max-width: 500px) {
  .inscription .inscription-row .accept {
    margin-left: 18px;
  }
}
@media (max-width: 1300px){
  .inscription .paragraphe {
  font-size: 14px;
  font-family: inherit;
  color: white;
  margin-top: 38px;
  text-align: justify;
  padding: 17px;
}
}
