.quiSommeNous {
    background: url(../images/merzougadesert-1920x1108.jpg);
    background-size: 100% 100%;
    width: 100%;
}
.quiSommeNous h1 {
    color: #ffffff;
    text-shadow: 1px -1px 0 #e4e4e491, -1px 2px 1px #000000a4, -2px 4px 1px #0000008e;
}
.quiSommeNous .description{
    color: white;
    padding: 3% 15% 10% 15%;
}
.quiSommeNous .about_desc__title {
    font-size: 34px;
    margin-bottom: 15px;
    font-family: 'Playfair Display';
    color: darkgrey;
}

.quiSommeNous .about_desc__desc {
    line-height: 1.8em;
    font-family: inherit;
    margin-left: 10px;
    
}