.sliderAccueil:before, .sliderAccueil:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .sliderAccueil {
    font-size: 62.5%;
    height: 600px;
    overflow: hidden;
  }
  
  .sliderAccueil {
    background: #000;
  }
  
  svg {
    display: block;
    overflow: visible;
  }
  
  .slider-container {
    position: relative;
    height: 100%;
    user-select: none;
    cursor: default;
  }
  
  .slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
  }
  .slider-control.inactive:hover {
    cursor: auto;
  }
  .slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
  }
  .slider-control.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .slider-control.right {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  }
  
  .slider-pagi {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
  }
  .slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
  }
  .slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
  }
  .slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .slider {
    z-index: 1;
    position: relative;
    height: 100%;
  }
  .slider.animating {
    transition: transform 0.5s;
    will-change: transform;
  }
  .slider.animating .slide__bg {
    transition: transform 0.5s;
    will-change: transform;
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slide.active .slide__overlay,
  .slide.active .slide__text {
    opacity: 1;
    transform: translateX(0);
  }
  .slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
  }
  .slide:nth-child(1) {
    left: 0;
  }
  .slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url("../images/5c7bb21b5c22935a6a4b1261_191528.jpg");
    background-size: 100% 100%;
  }
  .slide:nth-child(1) .slide__overlay-path {
    fill: #1b1b1b;
  }
  @media (max-width: 991px) {
    .slide:nth-child(1) .slide__text {
      background-color: rgba(168, 168, 168, 0.267);
    }
  }
  .slide:nth-child(2) {
    left: 100%;
  }
  .slide:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url("../images/Iain_Mallory_010123.jpg");
    background-size: 100% 100%;
  }
  .slide:nth-child(2) .slide__overlay-path {
    fill: #1b1b1b;
  }
  @media (max-width: 991px) {
    .slide:nth-child(2) .slide__text {
      background-color: rgba(225, 204, 174, 0.534);
    }
  }
  .slide:nth-child(3) {
    left: 200%;
  }
  .slide:nth-child(3) .slide__bg {
    left: -100%;
    background-image: url("../images/0de330_199f163532a14537a4a941459a0abb97.jpg");
    background-size: 100% 100%;
  }
  .slide:nth-child(3) .slide__overlay-path {
    fill: #1b1b1b;
  }
  @media (max-width: 991px) {
    .slide:nth-child(3) .slide__text {
      background-color: rgba(225, 204, 174, 0.534);
    }
  }
  .slide:nth-child(4) {
    left: 300%;
  }
  .slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url("../images/DSC02991-1.jpg");
    background-size: 100% 100%;
  }
  .slide:nth-child(4) .slide__overlay-path {
    fill: #1b1b1b;
  }
  @media (max-width: 991px) {
    .slide:nth-child(4) .slide__text {
      background-color: rgba(225, 204, 174, 0.534);
    }
  }
  .slide:nth-child(5) {
    left: 400%;
  }
  .slide:nth-child(5) .slide__bg {
    left: -200%;
    background-image: url("../images/photo.1405549.jpg");
    background-size: 100% 100%;
  }
  .slide:nth-child(5) .slide__overlay-path {
    fill: #1b1b1b;
  }
  @media (max-width: 991px) {
    .slide:nth-child(5) .slide__text {
      background-color: rgba(225, 204, 174, 0.534);
    }
  }
  .slide:nth-child(6) {
    left: 500%;
  }
  .slide:nth-child(6) .slide__bg {
    left: -250%;
    background-image: url("../images/Marrakesh-Visiting-the-Old-Medina-and-its-surrounding-Souks.jpg");
    background-size: 100% 100%;
  }
  .slide:nth-child(6) .slide__overlay-path {
    fill: #1b1b1b;
  }
  @media (max-width: 991px) {
    .slide:nth-child(6) .slide__text {
      background-color: rgba(203, 198, 195, 0.8);
    }
  }
  .slide:nth-child(7) {
    left: 600%;
  }
  .slide:nth-child(7) .slide__bg {
    left: -300%;
    background-image: url("../images/1vi7JrV.jpg");
    background-size: 100% 100%;
  }
  .slide:nth-child(7) .slide__overlay-path {
    fill: #1b1b1b;
  }
  @media (max-width: 991px) {
    .slide:nth-child(7) .slide__text {
      background-color: rgba(203, 198, 195, 0.8);
    }
  }
  .slide:nth-child(8) {
    left: 700%;
  }
  .slide:nth-child(8) .slide__bg {
    left: -350%;
    background-image: url("../images/1-couscous3-1024x512.png");
    background-size: 100% 100%;
  }
  .slide:nth-child(8) .slide__overlay-path {
    fill: #1b1b1b;
  }
  @media (max-width: 991px) {
    .slide:nth-child(8) .slide__text {
      background-color: rgba(203, 198, 195, 0.8);
    }
  }
  .slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    will-change: transform, opacity;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  @media (max-width: 991px) {
    .slide__overlay {
      display: none;
    }
  }
  .slide__overlay path {
    opacity: 0.8;
  }
  .slide__text {
    position: absolute;
    width: 25%;
    bottom: 15%;
    left: 12%;
    color: #fff;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    will-change: transform, opacity;
    transform: translateY(-50%);
    opacity: 0;
  }
  @media (max-width: 991px) {
    .slide__text {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20rem;
      text-align: center;
      transform: translateY(50%);
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
      padding: 0 1rem;
    }
  }
  .slide__text-heading {
    font-family: 'Playfair Display';
    font-size: 4.5rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 0px #ffffff, 1px 1px 0px rgba(86, 85, 85, 0.2);
  }
  @media (max-width: 991px) {
    .slide__text-heading {
      line-height: 20rem;
      font-size: 3.5rem;
    }
  }
  .slide__text-desc {
    font-family: 'Playfair Display';
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  @media (max-width: 991px) {
    .slide__text-desc {
      display: none;
    }
  }
  .slide__text-link {
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-family: 'Playfair Display';
    font-size: 2.3rem;
    perspective: 1000px;
  }
  @media (max-width: 991px) {
    .slide__text-link {
      display: none;
    }
  }
  .slide__text-link:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform-origin: 50% 100%;
    transform: rotateX(-85deg);
    transition: transform 0.3s;
    will-change: transform;
  }
  .slide__text-link:hover:before {
    transform: rotateX(0);
  }