body {
  margin-top: 55px;
  background-color: #f4f4f4;
  background: #e9ecef url(../images/round.png);
}
h1 {
  color: black;
  margin-top: 45px;
  margin-bottom: 20px;
  text-shadow: 
  1px -1px 0 #e4e4e491, 
  -1px 2px 1px #cfcfcfa4, 
  -2px 4px 1px #cacaca8e;
  font-family: 'Playfair Display';
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
}

.divider .line1 {
  width: 50px;
}
.divider .line1, .divider .line2{
  height: 1px;
  background-color: #887740;
  margin: 3px auto;
}
.divider .line1 {
  width: 50px;
}
.divider .line2 {
  width: 200px;
}
/**  start index **/

/*** Start Overriding Navbar ***/
.navbar {
  background-color: #f4f4f4 !important;
  border: none !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.navbar img {
  width: 30px;
  height: 27px;
  display: initial;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #f4f4f4 !important;
  color: #877740;
  border-bottom: 2px solid #877740;
  padding: 20px;
  font-family: 'Playfair Display';
  font-size: 11px;
  transition: color .3s;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover {
  border-bottom: 2px solid #877740;
  color: #877740;
  font-family: 'Playfair Display';
  font-size: 11px;
  transition: color .3s;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a {
  color: #272727;
  padding: 20px;
  font-family: 'Playfair Display';
  font-size: 11px;
  text-transform: uppercase;
}
.carousel-inner > .item > img {
  width: 100%;
  height: 565px;
}
.navbar-inverse .navbar-brand {
  color: #887740;
  font-family: 'Playfair Display';
  font-size: 30px;
  padding-top: 14px;
}
.navbar-inverse .navbar-brand:hover {
  color: #887740;
  font-family: 'Playfair Display';
  font-size: 30px;
  padding-top: 14px;
}
p.sublogo {
  text-transform: uppercase;
  color: #877740;
  font-size: 11px;
  letter-spacing: 6px;
  text-align: center;
  margin-left: 30px;
}
/*** finish Overriding Navbar ***/
.titleinc {
  color: #373737;
  display: inline;
  letter-spacing: 5px;
  font-family: unset;
}
.glyphicon-home:before {
  font-size: 14px;
}
.home {
  font-family: 'Playfair Display';
  font-size: 14px;
}

/** slider accueil **/
.slider .carousel-fade .carousel-inner .item p {
  padding-left: 20px;
  width: 100%;
  padding-right: 20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: -280px;
  color: #ffffff;
  left: 15px;
  font-size: 50px;
  font-family: 'Playfair Display';
  z-index: 2222;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
  transition-duration: 1000ms;
}

.details {
  margin: 50px 0;
}
.details h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 3px;
}
.details .back-link {
  text-align: center;
}
.details .back-link a {
  display: inline-block;
  margin: 20px 0;
  padding: 15px 30px;
  background: #333;
  color: #fff;
  border-radius: 24px;
}
.details .back-link a svg {
  margin-right: 10px;
  vertical-align: text-top;
  display: inline-block;
}

/** finish slider accueil**/

/** bienvenue **/
.bienvenue {
  background-color: #f4f4f4;
}
.bienvenue span {
  color: #887740;
}
.bienvenue p {
  color: black;
  font-family: 'Playfair Display';
  margin-bottom: 35px;
}
/** finish bienvenue **/

/** start quiest**/
.quiest {
  width: 100%;
  background: url(../images/merzougadesert-1920x1108.jpg) no-repeat center
    center fixed;
  background-size: 100% 100%;
}
.quiest .panel {
  margin-bottom: 15px;
}
.quiest .panel-group {
  margin-bottom: 50px;
}
.quiest .panel-heading {
  padding: 10px 35px;
  background-color: #f4f4f4;
}
.quiest .panel-body {
  font-family: 'Playfair Display';
  font-size: 17px;
  color: black;
  background-color: #f4f4f4;
}

.quiest .panel-heading a:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
  color: #444;
}

.quiest .panel-heading a.collapsed:after {
  content: "\e080";
  color: #999;
}

.quiest #accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
}
.quiest #accordion a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #877740;
    text-decoration: none;
    font-family: 'Playfair Display';
    color: black;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
}
.quiest #accordion .panel-heading a.collapsed:hover,
.quiest #accordion .panel-heading a.collapsed:focus {
  background-color: #877740;
  color: white;
  transition: all 0.2s ease-in;
}
.quiest #accordion .panel-heading a.collapsed:hover::before,
.quiest #accordion .panel-heading a.collapsed:focus::before {
  color: white;
}
.quiest #accordion .panel-heading {
  padding: 0;
  border-radius: 0px;
  text-align: center;
}
.quiest #accordion .panel-heading a:not(.collapsed) {
  color: white;
  background-color: #877740;
  transition: all 0.2s ease-in;
}

/* Add Indicator fontawesome icon to the left */
.quiest #accordion .panel-heading .accordion-toggle::before {
  font-family: 'FontAwesome';
  content: '\f00d';
  float: left;
  color: white;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
}
.quiest #accordion .panel-heading .accordion-toggle.collapsed::before {
  color: #444;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
}

/** finish quiest**/

/** start Activités**/
.activites {
  background-color: #f4f4f4;
}
.activites .txt {
  height: 500px;
  background-image: linear-gradient(to right, #bba351 , #8a867a);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.activites h3 {
  color: white;
  margin-top: 0px;
  font-family: auto;
  top: 20px;
  position: relative;
}
.activites h3 span {
  color: black;
}
.activites .txt p {
  font-size: 16px;
  font-family: 'Playfair Display';
  color: black;
  margin-top: 20px;
  text-align: justify;
  padding: 17px;
}
.activites .slider_activites .carousel-inner > .item > img {
  width: 100%;
  height: 400px;
}
.activites .slider_activites {
  margin: -15px;
  margin-top: 35px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.activites .sld {
  top: 15px;
}
.activites .slider_activites h3 {
    font-size: 70px;
    top: -112px;
    font-family: none;
    background-color: rgba(0, 0, 0, 0.65);
    padding-bottom: 3px;
}
/** finish Activités**/

/** start video **/
.video {
  margin-top: 30px;
  margin-bottom: 30px;
}

/** finish video **/

/* Start Ultimate Footer Section */

.footer {
  background: #1e2529;
  color: #aaa;
  padding-top: 10px;
}

.footer h3 {
  color: white;
  font-family: 'Playfair Display';
  font-weight: bold;
}

.footer .info img {
  margin-top: 35px;
  margin-bottom: 30px;
}

.footer .info li {
  list-style: none;
  color: white;
  font-family: -webkit-pictograph;
  font-weight: bold;
  line-height: 24px;
}
.footer .paiment img {
  margin-top: 35px;
}
.footer .imgendroit {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  width: 150px;
  height: 100px;
}

.footer .copyright {
  background: #877740;
  color: #f4f4f4;
  padding: 15px 0;
  margin-top: 30px;
  font-size: 18px;
}
.footer p{
  margin-top: 25%;
  font-family:  'Playfair Display';
  font-weight: bold;
  color: #877740;
  margin-bottom: 10%;
  font-size: 30px;
  text-shadow: 1px 1px 0px #d5d5d5, 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.footer p span {
  color: #393939;
}


@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.footer figure.snip1321 {
  font-family: 'Playfair Display';
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
  margin-top: 10px;
}
.footer figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.footer figure.snip1321 img {
  max-width: 100%;
  vertical-align: top;
}
.footer figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.footer figure.snip1321 h5{
  margin: 0;
}
.footer figure.snip1321 h5 {
  font-weight: 600;
}
.footer figure.snip1321:after {
  background-color: #212121e3;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
.footer figure.snip1321:hover figcaption,
.footer figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.footer figure.snip1321:hover:after,
.footer figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}
/* End Ultimate Footer Section */

/**  finish index **/

/* Start Scrollup */

#scroll-top {
  width: 50px;
  height: 40px;
  color: #ddd;
  background-color: #272727;
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 9999;
  display: none;
  cursor: pointer;
}

#scroll-top:hover {
  background-color: #444;
}

/* End Scrollup */

/* mobile */

@media (max-width: 770px) {
  a.navbar-brand.firstbrand {
    display: block !important;
  }
  a.navbar-brand.secondtbrand{
    display: none !important;
  }
}

@media (max-width: 500px) {
  .slider .carousel-fade .carousel-inner .item p {
    left: 0px;
    top: -151px;
    font-size: 28px;
  }
  .carousel-inner > .item > img {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .navbar-inverse .navbar-brand {
    font-size: 20px;
  }
 
  .navbar img {
    right: 30%;
    width: 30px;
    height: 30px;
  }
  .titleinc{
  }
  .navbar-inverse .navbar-brand:hover {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  .activites .txt {
    height: 500px;
  }
}
@media (max-width: 510px) {
  .activites .txt {
    overflow: scroll;
  }
}
@media (max-width: 500px){
  .activites .slider_activites h3 {
    font-size: 50px
  }
}

@media( max-width: 1200px ){
  a.navbar-brand.secondtbrand{
    margin-left: 3% !important;
  }
}
/* finish mobile*/


/* loader */




/* The Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ee6a2c;
  -webkit-animation: spin 1.7s linear infinite;
          animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #877740;
  -webkit-animation: spin-reverse .6s linear infinite;
          animation: spin-reverse .6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #a53400;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background:  #e9ecef url(../images/round.png);
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}





/* finish loader */

/* Override code*/
.img-thumbnail{
  background-color: #5e5e5e;
}
button.navbar-toggle.collapsed,
button.navbar-toggle.collapsed:hover,
button.navbar-toggle.collapsed:active,
button.navbar-toggle.collapsed:focus {
  background-color: #d2541f;
  border: 1px solid #585757;
}

/* finish override code */













